 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
        body{
            font-family:'Poppins', sans-serif;
            background-color: rgb(54, 51, 63);
            color: white;
        }
        .botoes{
            font-family:'Poppins', sans-serif;
            display: flex;
            justify-content: space-around;
        }
        .botoes button{
            font-size: 3rem;
        }
        button{
            border: none;
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
            font-size: 15px;
            box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.226);
            transition: all 0.5s;
            background-color: rgb(79, 81, 98);
            color: white;
            font-size: 1rem;
        }
        button:hover{
            transform: scale(0.9);
        }
        #result{
            padding: 10px;
            border-radius: 20px;
            position: relative;
            flex-direction: column;
            width: fit-content;
            margin: auto;
            margin-top: 50px;
            box-shadow: 3px 2px 7px 2px rgba(0, 0, 0, 0.164);
            transition: all 1s;
        }
        @keyframes animacao1{
            0%, 100%{
                background-color: rgb(119, 167, 148);
                transform: scale(1.0);
            }
            50%{
                background-color: rgb(119, 167, 148);
                transform: scale(1.3);
            }
        }
        img{
            width: 50px;
            height: 50px;
        }
        .placas{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
        table{
            border-radius: 10px;
            padding: 10px;
            box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.13);
        }
        table td{
            border-radius: 5px;
            padding: 10px;
            border-collapse: none;
            border: solid 1.7px rgba(128, 128, 128, 0.541);
            text-align: center;
        }
        .slaa{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 20vh;
        }
